.one {
  background-color: aquamarine;
  padding: 0.1cm;
  padding-left: 16cm;
}
.two {
  padding-left: 12cm;
}

.four {
  width: 100%;
}
.five {
  width: 100%;
}

.three {
  display: flex;
}
.six {
  padding-top: 0.6cm;
}
.seven {
  padding-top: 0.5cm;
}
.eight {
  padding-top: 0.5cm;
}
.nin {
  padding-left: 8.9cm;
}
.ty {
  padding-left: 16.2cm;
}
.ten {
  padding-top: 0.4cm;
}
.tey {
  padding-left: 4.4cm;
  padding-top: 0.4cm;
}
.qw {
  padding-top: 0.4cm;
}
.as {
  padding-left: 12.3cm;
  padding-top: 1.4cm;
}
.fg {
  padding-top: 0.3cm;
}
.df {
  padding-left: 9.2cm;
  padding-top: 0.2cm;
}
.cv {
  padding-top: 0.2cm;
}

.gh {
  padding-top: 0.3cm;
}
